.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/gradle/

### DataSet ###
src/main/resources/key.properties
src/main/resources/math_npe_1
src/main/resources/lang_npe_2
src/main/resources/commons-io_npe_1
src/main/resources/commons-io_npe_2
src/main/resources/commons-io_npe_3
src/main/resources/commons-io_npe_4
src/main/resources/commons-io_npe_5
src/main/resources/commons-io_npe_6
src/main/resources/commons-io_npe_7
src/main/resources/commons-io_npe_8
src/main/resources/commons-io_npe_9
src/main/resources/commons-io_npe_10
src/main/resources/commons-io_npe_11
src/main/resources/commons-io_npe_12
src/main/resources/commons-io_npe_13
src/main/resources/commons-io_npe_14
src/main/resources/commons-io_npe_15
src/main/resources/commons-io_npe_16
src/main/resources/commons-io_npe_17
src/main/resources/commons-io_npe_18
src/main/resources/commons-io_npe_19
